<!-- Home Page 
 -->

<%- include('partials/header'); -%>
<header>
  <div class="asteroide">
    <img src="" alt="">
  </div>
  <div class="headings">
    <h2>Asteroides API</h2>
    <a href="/asteroides" class="btn">Ver asteroides</a>
  </div>
</header>

<%- include('partials/footer'); -%>